# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Windi\Desktop\MA1\EDL\tp\tp2\IC_PHP_PROF_COURS\IC_PHP_PROF_COURS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
